body {
        background-color: #E9EBF8;
}

a {
    padding-right: 100px;
    padding-left: 100px;
}

body {
    text-align: center;
}
@media only screen and (max-width: 500px) {
    nav {
        ;
    }
}