body {
        background-color: #E9EBF8;
}

a {
    /*padding-right: 100px;*/
    /*padding-left: 100px;*/
}

#banner img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin:auto;
  display:block
}

body {
    text-align: center;
}

body {
    margin-top: 40px;
    margin-bottom: 100px;
}
@media screen and (min-width: 500px) {
    nav {
        
    }

    a {
    padding-right: 100px;
    padding-left: 100px;
    }
}

#navlink {
    text-align: center;
}